// clearfix

.clearfix:after 
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.clearfix 
  display: inline-block

html[xmlns] .clearfix 
  display: block

* html .clearfix 
  height: 1%

// all
body
  margin: 1em 2%

// header
#user_nav
  text-align: right

// mails/index
li 
  margin-left: -2em

.translated a
  color: black

.not_translated a
  color: #ccc

// mails/show
.left
  float: left
  width: 45%

  pre
    background: white
    border: 1px solid black

.right
  width: 45%
  
