.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

body {
  margin: 0px;
  padding: 0px; }

#flash #error {
  color: red; }
#flash #notice {
  color: green; }

#content {
  padding: 1em 2%; }

.left {
  float: left;
  width: 45%;
  margin-left: 1em; }
  .left pre {
    background: white;
    border: 1px solid black; }

.right {
  float: left;
  width: 45%; }

#header {
  width: 100%;
  background: orange;
  padding: 1em; }
  #header h1 a {
    color: white;
    text-decoration: none; }
  #header #user_nav {
    text-align: right;
    margin-right: 2em; }

#footer {
  width: 100%;
  background: orange;
  padding: 1em;
  color: white;
  text-align: center;
  margin-top: 3em; }

.post_tree li {
  margin-left: -2em; }
  .post_tree li span.subject {
    color: black; }
  .post_tree li span.redmine_tags {
    font-weight: normal; }
  .post_tree li .translated a {
    color: #333333; }
  .post_tree li .not_translated a {
    color: #cccccc;
    text-decoration: none; }
  .post_tree li .root a {
    color: black;
    text-decoration: none; }
  .post_tree li .root a.edit_subject {
    color: orange;
    text-decoration: underline; }
  .post_tree li .root.translated {
    font-weight: bold; }
  .post_tree li span.black_star, .post_tree li span.white_star {
    font-size: 90%; }
  .post_tree li span.black_star, .post_tree li span.black_star a {
    color: orange;
    text-decoration: none; }
  .post_tree li span.white_star a {
    color: #ffeebb;
    text-decoration: none; }

.post {
  width: 100%;
  border: 1px solid #ffeebb;
  padding: 0px; }
  .post h3 {
    background: #ffeebb;
    margin-top: 0px; }
    .post h3 .post_from, .post h3 .post_subject, .post h3 .post_time {
      font-weight: normal; }
    .post h3 .post_subject, .post h3 .post_time {
      font-size: 80%; }

#translation_main {
  width: 100%; }
  #translation_main .field input, #translation_main textarea {
    width: 90%; }
  #translation_main textarea {
    font-family: monospace; }
